/*Estilo del contenedor del login*/
.Login {
    background-image: url('../Images/codegeass.png');
    background-size: cover;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

/*En login es el recuadro del formulario donde te logueas*/
.form-login {
    display: flex;
    width: 30%;
    height: 40%;
    padding: 20px;
    border-radius: 10px;
    opacity: 0.9;
    flex-direction: column;
    background-color: aquamarine;
}

/*La separacion de todos los elementos dentro del form del login*/
.form-elements {
    margin-bottom: 15px;
}

/*Estilo de los input y el boton del form de login*/
input,
button {
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

/*Estilo de los label*/
label {
    display: block;
    margin-bottom: 5px;
}

/*Estilo del boton*/
button {
    cursor: pointer;
}

/*Estilo del label que esta al inicio del form login*/
.form-header {
    text-align: center;
    margin-bottom: 20px;
}

/*Estilos del Home*/
.home {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.content-chats {
  background-color: #896c93;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.table-chat {
  width: 100%;
  height: calc(100vh - 80px); /* Ajusta el valor según la altura de tus botones */
  overflow-y: auto;
}

.title-publicchat {
  text-align: center;
}

.type-chat {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-chat-select {
  width: 100%;
  height: 40px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: #3d348b;
  text-align: left;
}

.button-chat {
  background-color: #896c93;
  border: 0;
  text-align: left;
  width: 100%;
}

.chat-container {
  display: flex;
  flex-direction: column;
  background-image: url('../Images/renna.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: #f9f9f9;
  margin: 0;
}

.chat-message {
  display: flex;
  margin-bottom: 10px;
}

.chat-message-alan {
  justify-content: flex-end;
}

.chat-message-lellouch {
  justify-content: flex-start;
}

.chat-bubble {
  max-width: 70%;
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
}

.chat-message-alan .chat-bubble {
  background-color: #d1e7dd;
  color: #0f5132;
  text-align: right;
}

.chat-message-lellouch .chat-bubble {
  background-color: #f8d7da;
  color: #842029;
  text-align: left;
}

.chat-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.chat-text {
  font-size: 14px;
}

.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.options-chat{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 5vh;
  background-color: #d1e7dd;
  align-items: center;
  text-align: center;
  
}
.chat-open{
  display: flex;
  flex-direction: column;
  width: 75%;;
  justify-content: space-between;
}
.icons{
  width: 30px;
  height: 30px;
}
.button-close{
  width: 30px;
  height: 30px;
  background-color: #d1e7dd;
  border: 0;
  margin-right: 30px;
  margin-bottom: 20px;
}
.content-input{
  display: flex;
}